body {
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}
.page-header ul{
    display: flex;
    flex-direction: row;
    background-color: bisque;
    justify-content: flex-end;
    list-style: none;
}
.page-header a{
    display: block;
    padding: .5em;
    text-decoration: none;
    background-color: aquamarine;
    margin:.4em;
}
.items {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-column-gap: 200px;
    margin-left: 100px;
    margin-top: 50px;
}
.item {
border: solid 1px;
width: 300px;
margin-top: 30px;
padding-left: 1px;
margin-left: 0px;
}
.item #happy, #sad, #angry, #calm, #curious, #disgust, #energetic, #gloomy, #scared, #shy, #sleepy, #surprised{
    background-color: blue;
}